<h3>以下の内容で登録しますか？</h3>

<%= form_for @property do |form| %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :price %>
  <%= form.hidden_field :address %>
  <%= form.hidden_field :age %>
  <%= form.hidden_field :option %>

  <p>物件名:<%= @property.name %></p>
  <p>賃料:<%= @property.price %></p>
  <p>住所:<%= @property.address %></p>
  <p>築年数:<%= @property.age %></p>
  <p>備考:<%= @property.option %></p>
  <%= form.submit  "登録する" %>
<% end %>

<%= link_to '戻る', :back %>